.expe {
    background-color:grey;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 5px;
    margin: 10px;
  }
  .expe1 {
    background-color:burlywood;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 5px;
    margin: 10px;
  }